---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Argumentation Online</h1>

<p><i>argumentation.online</i> sammelt, begutachtet und veröffentlicht hochwertige Argumentrekonstruktionen.</p>

<h2>Die 3 neusten Rekonstruktionen</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Alle Rekonstruktionen <a href="{{ '/posts/' | url }}">im Archiv</a>.</p>
